@font-face {
    font-family: 'Inconsolata LGC';
    src: url(inconsolatalgc.ttf);
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shortlist {
    position: relative;
    max-width: 1280px;
    width: 100%;
    min-height: 100vh;
    background: transparent;
    margin: auto;
}

.listContainer {
    position: relative;
    max-width: 860px;
    min-width: 500px;
    width: 100%;
    min-height: 413px;
    margin: auto;
    top: 75px;
    padding: 32px 33px 51px 50px;
    box-sizing: border-box;
    background: #D2127A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listSection {
    width: 350px;
    font-family: 'Inconsolata LGC';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.listSection .list {
    margin: 0 5px;
    max-width: 336px;
    word-wrap: break-word;
}

@media screen and (max-width: 782px) {
    .listContainer {
        justify-content: center;
    }
}